MAESTRO_ENABLED=true
VAULT_ENABLED=true
MAESTRO_SERVER_URL=https://maestro.botcity.dev
MAESTRO_API_KEY=SEU_API_KEY_AQUI

DATA_POOL_NAME=FilaAuditoriaLotes_Eq_AGMV
CREDENTIAL_LABEL=credencial_erp_Eq_AGMV
INPUT_FOLDER=dados_entrada
LOG_FILE=logs/execucao.log
